*{margin: 0;padding: 0}
*{box-sizing: border-box}

.window{
  height: 430px;
  width: 200px;
  margin: 20px auto;
  overflow: hidden;
}
#controls{
  margin: 10px;
}
.images{
  display: flex;
  transition: all 1s;
}
.images > img{
  width: 100%;
}

