*{margin: 0;padding: 0}
*{box-sizing: border-box}

.window{
  height: 650px;
  width: 300px;
  margin: 20px auto;
  overflow: hidden;
}
.images{
  display: flex;
  transition: all 1s;
  border: 1px solid red;
}
.images > img{
  width: 100%;
}

